@media screen and (max-width: 900px) {
    .navigation {
        flex-direction: column;
        margin-bottom: 43px;
    }

    .navleft {
        flex-direction: column;
        text-align: center;
    }

    .content {
        width: 100%;
    }

    .home-art {
        flex-direction: column;
    }

    .home-art-img {
        text-align: center;
    }
    .home-art-img img{
        width: 60vw;
    }
    .cont-left h1{
        /* align-items: center; */
        /* justify-content: center; */
        /* margin-top: 0; */
        margin-left: 0;
    }
    .row{
        flex-direction: column;
    }
}

@media screen and (max-width:1140px) {
    .year-box {
        top: 20px;
        right: 1px;
        display: flex;
        font-size: 11px;
    }
    .year-box .y{
        margin-top: 0;
        margin: 0 10px 0 0;
    }

}
@media screen and (max-width:800px) {
    .blog-post-content{
        max-width: 70vw;
    }
    .gabba-img img {
        height: 60vh;
        width: 70vw;
    }
}